/*INDEX*/
/*.header {
  background-image: url('../img/logosmall.jpg');
  padding: 1.5%;
  background-repeat: no-repeat;
}*/

.hero-header {
  background-image: url('../img/intro-image.jpg');
  
  height: 400px;
}

.title-search {
	text-align: center;
  padding-top: 10%;
  color: white;
}

#title {
  font-size: 3em;
  font-weight: 100;
  margin-bottom: -1%;
}

#subtitle {
  font-weight: 100;
}

.topic-group {
  text-align: center;
  padding-top: 3%;
  padding-left: 3%;
}

.topic-group-2 {
  padding-bottom: 5%;
  margin-bottom: -2%;
}

#topic {
	margin: .5%;
	padding: 1.5%;
  width: 20%;
  background-color: #e8f1f3;
}

.topic-title {
  font-weight: 100;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  color: #777;
  
}

#contact {
	padding: 3%;
  text-align: center;
  background-color: #4c575e;
}

.contact-title {
  color: white;
}

#contact-group {
  margin-left: 33%;
}

.pure-group {
  margin: 1%;
}


/*GLOBAL*/
body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 100;
}

.pure-button {
  background-color: #8cc63f;
}

a {
  text-decoration: none;
}

p {
  font-weight: 100;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  color: #777;
}